*.swo
*.swp
.DS_Store
.tddium
.tddium*
.ruby-gemset
.ruby-version
.rvmrc
.powder
.bundle/*
/.bundle/config
config/database.yml
coverage/
db/*.sqlite3
dump.rdb
log/
public/assets/
public/attachments/*
public/bitmaps/*
public/import_users/errors_import_users.csv
public/uploads/*
solr/data/*
solr/pids/*
tmp/
solr/conf/*
