<tr>
  <td class = "article-title" height="45" valign="top"
    style = "padding: 0 20px 0 52px; font-family: Georgia;
    font-size: 18px" width= "600" colspan= "2">
    <br/>
    Hello <%= name.titleize %>
    <br/> <br/>
  </td>
</tr>

