<!DOCTYPE html>
<html>
<head>
  <title>Knowbuddy</title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
</head>
<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
<table cellspacing="0" border="0" style="background: #f1f0e8;" cellpadding="0" width="100%">
  <tr>
    <td>
      <table cellspacing="0" bgcolor="#484845" width="100%" cellpadding="0">
        <tr>
          <td height="50" valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="header-text" align="center" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table cellspacing="0" width="100%" cellpadding="0">
        <tr>
          <td valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Georgia; text-transform: uppercase; letter-spacing: 6px;">
                <br />KNOW YOUR BUDDY<br />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table cellspacing="0" align="center" width="600" cellpadding="0">
              <tr>
                <td class="date" valign="top" style="color: #999; text-transform: uppercase; text-align: center; font-size: 11px; font-family: Verdana;">
                <br /><currentdayname> <currentday> <currentmonth> <currentyear><br /><br />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table cellspacing="0" border="0" align="center" style="background: #fff;" cellpadding="0" width="600">
        <tr>
          <td>
          <!-- content -->
            <table>
              <tr>
                <td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="600" colspan="2">
                <br />Hello <%= @user["name"].titleize %><br /><br />
                </td>
              </tr>
              <tr>
                <td class="content-copy" valign="top" style="padding: 0 20px 20px 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
                <p>This is a reminder email to add some new post on Knowbuddy.</p>
                <p>If you have come across any interesting concepts or new technologies please do share.</p>
                <p>Thanks and have a great day!</p>
                </td>
              </tr>
            </table>
            <!--  / content -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <table cellspacing="0" width="100%" cellpadding="0">
        <tr>
          <td valign="top">
          <!-- footer -->
            <table cellspacing="0" border="0" align="center" height="150" cellpadding="0" width="600">
              <tr>
                <td valign="top">
                  <table cellspacing="0" border="0" width="600" cellpadding="0">
                    <tr>
                      <td class="unsubscribe" valign="top" style="padding: 20px; color: #999; font-size: 14px; font-family: Georgia; line-height: 20px;" width="305">
                      To login to the site
                      <a href = "<%= @url %>">click here</a>.
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          <!-- / end footer -->
          </td>
        </tr>
        <tr>
          <td valign="top">
            <table cellspacing="0" width="100%" cellpadding="0">
              <tr>
                <td class="copyright" align="center" height="80" valign="top" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 20px;" bgcolor="#484845">
                <br />
                Powered by Kiprosh
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>