<%= render partial: 'user_name', locals: {name: @user["name"]} %>
<tr>
  <td class="content-copy" valign="top" style="padding: 0 20px 20px 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
    <p>This is a reminder email to let you know that you have not posted any article in Knowbuddy so far. If you have come across any interesting concepts or new technologies or something worth sharing with everyone then we request you to please write an article in Knowbuddy.</p>
    <p>Thanks and have a wonderful day!</p>
  </td>
</tr>
