<%= render partial: 'user_name', locals: {name: @user["name"].titleize} %>
<tr>
  <td class="content-copy" valign="top" style="padding: 0 20px 20px 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
    You have successfully reseted your password on KnowBuddy.
    <p>To login to the site
    <a href = "<%= @url %>">click here</a>.</p>
  </td>
</tr>
