<tr>
  <td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="600" colspan="2">
    <br /><%= @user_name %> has posted a new comment <br/> <br/>
  </td>
</tr>
<tr>
  <td class="content-copy" valign="top" style="padding: 0 20px 20px 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" >
    <%= @comment %>
  </td>
</tr>
<% content_for :user_post_link do %>
  <%= link_text %>
<% end %>
