<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello <%= @user.email %>, Welcome to KnowBuddy </h3>
    <p>
      You have successfully signed up.
    </p>
    <p>
      <a href= "<%= @url %>">Click here</a> to login to the site.
    </p>
    <br/>
    <p>Thanks for joining and have a great day!</p>
    <p></p><br/><br/>
    <i>Powered by Kiprosh</i>
  </body>
</html>

