= form_for([post ,Comment.new],remote: true, html: { class: :form, id: "new_comment" }) do |f|
  .group
    = f.hidden_field :user_id, {value: current_user.id }
  .group
    = f.text_area :comment, class: 'comment_field validate[required] text-input'
    %br
    = f.submit "Comment", class: 'comment_button'
