created
- if activity.parameters["tag"]
  -if activity.parameters["tag"].count > 1
    new tags
    =[activity.parameters["tag"]]*", "
  -else
    a new tag
    =[activity.parameters["tag"]]*" "
%span>.

