- if activity.trackable
  = link_to(activity.trackable.subject, post_url(activity.trackable), style: "color: #035C78; text-decoration: none")
- else
  = activity.parameters["post_subject"] || activity.parameters[:post_subject]
%span>.
