#attach-content
  - if a.post_content_type.split("/")[0] == "image"
    = link_to(image_tag(a.post.url(:thumb), title: a.post_file_name), a.post.url, target: "_blank")
  - else
    = link_to(image_tag("doc.png", title: a.post_file_name), a.post.url, target: "_blank")
  #close{attachment_id: a.id}
    = image_tag("close_icon.png", id: "delete-attach")
