#contributer.block
  %h3 Contributors
  %ul#namelist.navigation
    - users.only_active.each do |user|
      %li= user_link(user)

  %div#paginator
    = paginate users.only_active, params: {controller: 'posts', action: 'contributors_pagination'}, remote: true
