%h2.title
  .post_cancel#close_image
    = image_tag "close-icon.png"
  = t("web-app-theme.edit", default: "Edit")
  Post
.inner
  = form_for post, remote: true, url: post_path(post), html: { class: :form, id: "edit_post_form" } do |f|
    = render 'form', f: f, post: post
#default_preview
