%h2.title
  .post_cancel#close_image
    = image_tag "close-icon.png"
  = t("web-app-theme.new", default: "New")
  Post
.inner
  = form_for post, remote: true, url: posts_path, html: { class: :form, id: "new_post_form", multipart: true } do |f|
    = render 'form', f: f, post: post
#default_preview
