deleted a comment in article

- if activity.recipient
  = link_to activity.recipient.subject, activity.recipient
- else
  = link_to activity.parameters["1"], kyu_entry_path(id: activity.parameters["2"])
