- post_id = activity.parameters['post_id']
- post_subject = activity.parameters['post_subject']

- if activity.trackable
  = link_to activity.trackable.kyu_entry.subject, activity.trackable.kyu_entry
- elsif post_exist?(post_id)
  = link_to post_subject , kyu_entry_path(id: post_id)
- else
  = post_subject
%span>.