$('.new table').append("#{escape_javascript(render('activities'))}");
$('#load_more_link').replaceWith("#{escape_javascript(link_to_next_page(@activities,'See more', :remote => true, :id=>'load_more_link'))}");

$('#sidebar').html("#{escape_javascript(render(partial: 'sidebar', locals: {tag_cloud_hash: @tag_cloud_hash, users: @users }))}");
paginate_change_navigation_links_text();



