@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: "";

$skinTextColor: #000000;
$skinTextActiveColor: #ffffff;
$skinTextTable: #000000;
$skinActiveColor: #05B6C7;
$skinHeaderBck: #000000;
$panelHeaderBck: #000000;

@import "active_skin";
