@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";

$skinLogo: "";

$skinTextColor: #000000;
$skinTextActiveColor: #ffffff;
$skinTextTable: #000000;
$skinActiveColor: #05B6C7;
$skinHeaderBck: #000000;
$panelHeaderBck: #000000;

.status_tag {
  font-weight: bold;
}
.status_tag.no{
  background: #D02312 ;
}
.status_tag.yes{
  background: #198E4B ;
}
#rule_submit_action {
  margin-left: 20.6%;
}
