* {margin:0;padding:0}
.clear { clear: both; height: 0; }

.wat-cf:after {
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.wat-cf {display: inline-block;}

/* Hides from IE-mac \*/
* html .wat-cf {height: 1%;}
.wat-cf {display: block;}
/* End hide from IE-mac */

h1 { margin: 15px 0; font-size: 22px; font-weight: normal; }
h2 { font-size: 22px; margin: 15px 0; font-weight: normal;}
h3 { font-size: 18px; margin: 10px 0; font-weight: normal;}
h4 { font-size: 16px; margin: 10px 0; font-weight: normal;}
hr {height: 1px; border: 0; }
p { margin: 15px 0;}
a img { border: none; }

body {
  font-size: 12px;
  font-family: sans-serif;  
}

#container {
  min-width: 960px;
}

#header, #wrapper {
  padding: 0 20px;
}

#header {
  position: relative;
  padding-top: 1px;  
}

#header h1 {
  margin: 0;
  padding: 10px 0;  
  font-size: 26px;
}

#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
  text-decoration: none;
}

#main {  
  width: 70%;
  float: left;    
}

.actions-bar {
  padding: 10px 1px;
}

.actions-bar .actions {
  float: left;
}


.actions-bar .pagination {
  float: right;
  padding: 1px 0;
}

#sidebar {
  width: 25%;
  float: right;      
}

#sidebar h3 {  
  padding: 10px 15px;
  margin: 0;
  font-size: 13px;
}

#sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#sidebar .block .content {
  padding: 0 15px;
}

#sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
  display: block;
  padding: 10px 15px;
}

#sidebar .block .sidebar-block, #sidebar .notice {
  padding:10px;
}

#wrapper {
  padding-top: 20px;
}

#main .block {
  margin-bottom: 20px;
  padding-top: 1px;
}

#main .block .content .inner {
  padding: 0 15px 15px;  
}

#main .main p.first {
  margin-top: 0;
}

#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px;  
}

#main-navigation {
  width: 100%;
}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left;  
}

#main-navigation ul li {
  margin-right: 5px;
}

#user-navigation ul li {
  padding: 5px 10px;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
}

#main-navigation ul li a {
  font-size: 14px;
  line-height: 14px;
  display: block;
  padding: 8px 15px;
}

.secondary-navigation {
  font-size: 13px;  
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.secondary-navigation ul li a {
  display: block;
  padding: 10px 15px;  
}

#footer {
  padding-bottom: 20px;
}

#search_error {
  color: #666666;
  font-family: "MuseoSans500",helvetica,arial,sans-serif;
  font-weight: normal;
  font-size: 15px;
  padding: 40px;
}

/* pagination */

.pagination a, .pagination span, .pagination em {
  padding: 2px 5px;
  margin-right: 5px; 
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.pagination em {
  font-weight: bold;  
}

.pagination a {
  text-decoration: none;  
}

/* tables */
.table {
  width: 100%;
  border-collapse: collapse;  
  margin-bottom: 15px;
}

.table th {
  padding: 10px;
  font-weight: bold;
  text-align: left;
}

.table th.first {
  width: 30px;
}

.table th.last {
  width: 200px;  
}

.table .checkbox {
  margin-left: 10px;
}

.table td {
  padding: 10px;
}

.table td.last {
  text-align: right;
}

/* forms */

input.checkbox {
  margin: 0;
  padding: 0;
}

.form .group {
  margin-bottom: 15px;
}

.form div.left {
  width: 20%;
  float: left;
}

.form div.right {
  width: 75%;
  float: right;
}

.form .columns .column {
  width: 48%;
}

.form .columns .left {
  float: left;
}

.form .columns .right {
  float: right;
}

.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0;
}

.form label.right {
  text-align: right;
}

.form input.checkbox, .form input.radio {
  margin-right: 5px;
}

.form label.checkbox, .form label.radio {
  line-height: 1.5em;
}

.form label.label {
  display: block;
  padding-bottom: 2px;  
  font-weight: bold;
}

.form div.fieldWithErrors label.label {
  display: inline;
}

.form .fieldWithErrors .error {
  color: red;
}

.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid;
}

#search .form input.text_field {
  width: 75%;
  border: 1px solid #dddddd;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* lists */

ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.list li {
  clear: left;
  padding-bottom: 5px;
}

ul.list li .left {
  float: left;  
}

ul.list li .left .avatar {
  width: 50px;
  height: 50px;
}

ul.list li .item {
  margin-left: 80px;
}

ul.list li .item .avatar {
  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
}

/* box */

#box {
  width: 500px;
  margin: 50px auto;  
}

#box .block {
  margin-bottom: 20px;
}

#box .block h2 {
  padding: 10px 15px;
  margin: 0;  
}

#box .block .content {
  padding: 10px 20px;
}

/*  Inspired by http://particletree.com/features/rediscovering-the-button-element */

a.button:link, a.button:visited, a.button:hover, a.button:active, button.button {
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}

button.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
button.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

*:first-child+html button.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

button.button img, a.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

button.button:hover, a.button:hover {
  background-color:#dedede;
}

button.button:active, a.button:active {
  background-color:#e5e5e5;
}
.text_button_padding{
  color: #222222;
  display: block;
  float: left;
  font-size: 1em;
  line-height: 2em;
  margin: 0 7px 0 0;
  padding: 5px 0 6px 7px;
  text-decoration: none;
}
.link_button{
  cursor: pointer;
}
/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
  margin:0px; padding:0px;
  outline:none;
}
.markItUp a:link,
.markItUp a:visited {
  color:#000;
  text-decoration:none;
}
.markItUp  {
  width:100%;
  margin:5px 0 5px 0;
  border:5px solid #F5F5F5;
}
.markItUpContainer  {
  background:#eee;
  padding:5px 5px 2px 5px;
  font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
  font:12px 'Courier New', Courier, monospace;
  padding:5px 5px 5px 5px;
  border:2px solid #ccc;
  border-radius: 5px;
  width:677px;
  height:320px;
  background:#fff;
  clear:both;
  line-height:18px;
  overflow:auto;
}
.markItUpPreviewFrame {
  overflow:auto;
  background-color:#FFFFFF;
  width:99.9%;
  height:300px;
  margin:5px 0;
}
.markItUpFooter {
  width:100%;
  cursor:n-resize;
}
.markItUpResizeHandle {
  overflow:hidden;
  width:22px; height:5px;
  margin-left:auto;
  margin-right:auto;
  background-image:url(../assets/handle.png);
  cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li {
  list-style:none;
  float:left;
  position:relative;
}
.markItUpHeader ul li ul{
  display:none;
}
.markItUpHeader ul li:hover > ul{
  display:block;
}
.markItUpHeader ul .markItUpDropMenu {
  background:transparent url(../assets/menu.png) no-repeat 115% 50%;
  margin-right:5px;
}
.markItUpHeader ul .markItUpDropMenu li {
  margin-right:0px;
}
.markItUpHeader ul .markItUpSeparator {
  margin:0 10px;
  width:1px;
  height:16px;
  overflow:hidden;
  background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
  width:auto; height:1px;
  margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
  display:none;
  position:absolute;
  top:18px; left:0px;
  background:#F5F5F5;
  border:1px solid #3C769D;
  height:inherit;
}
.markItUpHeader ul ul li {
  float:none;
  border-bottom:1px solid #3C769D;
}
.markItUpHeader ul ul .markItUpDropMenu {
  background:#F5F5F5 url(../assets/submenu.png) no-repeat 100% 50%;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
  position:absolute;
  top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
  float:none;
}
.markItUpHeader ul a {
  display:block;
  width:16px; height:16px;
  text-indent:-10000px;
  background-repeat:no-repeat;
  padding:3px;
  margin:0px;
}
.markItUpHeader ul ul a {
  display:block;
  padding-left:0px;
  text-indent:0;
  width:120px;
  padding:5px 5px 5px 25px;
  background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
  color:#FFF;
  background-color:#3C769D;
}
/***************************************************************************************/
.html .markItUpEditor {
  background-image:url(../assets/bg-editor-html.png);
}
.markdown .markItUpEditor {
  background-image:url(../assets/bg-editor-markdown.png);
}
.textile .markItUpEditor {
  background-image:url(../assets/bg-editor-textile.png);
}
.bbcode .markItUpEditor {
  background-image:url(../assets/bg-editor-bbcode.png);
}
.wiki .markItUpEditor,
.dotclear .markItUpEditor {
  background-image:url(../assets/bg-editor-wiki.png);
}

/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
  background-image:url(../assets/h1.png);
}
.markItUp .markItUpButton2 a {
  background-image:url(../assets/h2.png);
}
.markItUp .markItUpButton3 a {
  background-image:url(../assets/h3.png);
}
.markItUp .markItUpButton4 a {
  background-image:url(../assets/h4.png);
}
.markItUp .markItUpButton5 a {
  background-image:url(../assets/h5.png);
}
.markItUp .markItUpButton6 a {
  background-image:url(../assets/h6.png);
}
.markItUp .markItUpButton7 a {
  background-image:url(../assets/paragraph.png);
}

.markItUp .markItUpButton8 a {
  background-image:url(../assets/bold.png);
}
.markItUp .markItUpButton9 a {
  background-image:url(../assets/italic.png);
}
.markItUp .markItUpButton10 a {
  background-image:url(../assets/stroke.png);
}

.markItUp .markItUpButton11 a {
  background-image:url(../assets/list-bullet.png);
}
.markItUp .markItUpButton12 a {
  background-image:url(../assets/list-numeric.png);
}

.markItUp .markItUpButton13 a {
  background-image:url(../assets/picture.png);
}
.markItUp .markItUpButton14 a {
  background-image:url(../assets/link.png);
}
/*************************************************************/
#default_preview {
  display:none;
}

