<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      a:link {
        background-color: #1963B6;
        text-decoration: none;
      }
      a:visited {
        background-color: #1963B6;
      }
      a:hover {
        background-color: #1963B6;
      }
      a:active {
        background-color: #1963B6;
      }
    </style>
  </head>

  <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0">
    <table cellspacing="0" border="0" style="background: #f1f0e8;margin-bottom: 30px;" cellpadding="0" width="100%">
      <tr>
        <td>
          <table cellspacing="0" bgcolor="#484845" width="100%" cellpadding="0">
            <tr>
              <td height="50" valign="top">
                <table cellspacing="0" align="center" width="600" cellpadding="0">
                  <tr>
                    <td class="header-text" align="center" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px;">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" width="100%" cellpadding="0">
            <tr>
              <td valign="top">
                <table cellspacing="0" align="center" width="600" cellpadding="0" style="margin: auto;">
                  <tr>
                    <td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Georgia; text-transform: uppercase; letter-spacing: 6px;">
                    <br />Your Knowledge Buddy<br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <table cellspacing="0" align="center" width="600" cellpadding="0">
                  <tr>
                    <td class="date" valign="top" style="color: #999; text-transform: uppercase; text-align: center; font-size: 11px; font-family: Verdana;">
                    <br /><currentdayname> <currentday> <currentmonth> <currentyear><br /><br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <table cellspacing="0" border="0" align="center" style="background: #fff;margin: auto;" cellpadding="0" width="600">
            <tr>
              <td>
              <!-- content -->
                <table>
                  <%= yield %>
                </table>
              <!--  / content -->
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          <table cellspacing="0" width="100%" cellpadding="0">
            <tr>
              <td valign="top">
              <!-- footer -->
                <table cellspacing="0" border="0" align="center" height="50" cellpadding="0" width="600" style="margin: auto;">
                  <tr>
                    <td valign="top" align="center">
                      <br/>
                        <%= yield :user_post_link %>
                    </td>
                  </tr>
                </table>
              <!-- / end footer -->
              </td>
            </tr>
            <tr>
              <td valign="top">
                <table cellspacing="0" width="100%" cellpadding="0">
                  <tr>
                    <td class="copyright" align="center" height="80" valign="top" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 20px;" bgcolor="#484845">
                    <br/>
                      <%= footer_text %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
